<p id="notice"><%= notice %></p>

<!DOCTYPE html>                      
<html>
  <head>
    <title>Hackersnews</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<center>
  <table id="hnmain" width="85%" cellspacing="0" cellpadding="0" border="0" bgcolor="#f6f6ef">
        <tbody>
          <tr>
            <td bgcolor="#ff6600">
              <table style="padding:2px" width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                  <tr>
                    <td style="width:18px;padding-right:4px">
                      <a href="/">
                        <%= image_tag("logo.gif", style: "border:1px white solid; width:18; height:18") %>
                      </a>
                    </td>
                  <td style="line-height:12pt; height:10px;">
                    <span class="pagetop">
                      <b class="hnname">
                        <a href="/"> HackerNews</a>
                      </b>
                      <%= link_to "new", contribucions_newPage_path %>
                      | <a href="front">past</a> 
                      | <a href="newcomments">comments</a> 
                      | <%= link_to "ask", contribucions_askPage_path %> |
                      <a href="show">show</a> |
                      <a href="jobs">jobs</a> | 
                      <%= link_to 'submit', new_contribucion_path %>
                       <% if !@tipo.nil? %>
                       |<font color="#ffffff"><%= @tipo %></font>  
                       <%end%>
                    </span>
                  </td>
                  <td style="text-align:right;padding-right:4px;">
                    <span class="pagetop">
                      <% if logged_in? %>
                        <a href="/users/<%= current_user().id %>"><%= current_user().email %></a>
                        |  
                        <%= link_to 'Logout', destroy_user_session_path, method: "delete" %>
                      <% else %>
                        <%= link_to 'Login', user_session_path %>
                      <% end %>
                    </span>
                  </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>