<tbody>
  <tr class="athing" id="22681207">
    <td class="title" valign="top" align="right">
      <span class="rank"><%= @rank %>.</span>
    </td>
  <td class="votelinks" valign="top">
    <center>
      <a id="up_22681207" <%= link_to '▲', upvote_contribucion_path(contribucion, :lloc => "main", :desvotar => "0"), method: :put %>
      </a>
      <a id="down" <%= link_to '▼', upvote_contribucion_path(contribucion, :lloc => "main", :desvotar => "1"), method: :put %>
      </a>
    </center>
  </td>
    <td class="title">
      <% if type_url(contribucion.url) %>
        <a href="<%=contribucion.url%>"><%=contribucion.title%></a>
        <span class="sitebit comhead"> (<a href="<%=contribucion.url%>"><span class="sitestr"><%=contribucion.url%></span></a>)</span>
      <% else %>
        <a href="/contribucions/<%=contribucion.id%>" class="storylink"><%=contribucion.title%></a>

      <%end%>

    </td>
  </tr>
  <tr>
    <td colspan="2"></td>
    <td class="subtext">
    <span class="score" id="score_22681207"><%=contribucion.points%> points</span>
      by 
      <a href="/users/<%=contribucion.user_id%>" class="hnuser"><%=User.find(contribucion.user_id).email%></a> 
      <span class="age">
         <%= time_ago_in_words(contribucion.created_at) %>
      </span>
      <% if current_user() != nil %>
        <% if contribucion.user_id == current_user().id %>
          <%= link_to 'Edit', edit_contribucion_path(contribucion) %>
          |
          <%= link_to 'Destroy', contribucion, method: :delete, data: {confirm: 'Are you sure?'} %>
        <% end %>
      <% end %>
      <span id="unv_22681207"></span> | <a href="hide?id=22681207&amp;goto=news">hide</a> 
      | <a href="<%= "/contribucions/#{contribucion.id}" %>">comments</a>
    </td>
  </tr>
  <tr class="spacer" style="height:5px"></tr>
</tbody>