<p id="notice"><%= notice %></p>

<!DOCTYPE html>                      
<html>
  <head>
    <title>Hackersnews</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<center>
  <table id="hnmain" width="85%" cellspacing="0" cellpadding="0" border="0" bgcolor="#f6f6ef">
        <tbody>
          <tr>
            <td bgcolor="#ff6600">
              <table style="padding:2px" width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                  <tr>
                    <td style="width:18px;padding-right:4px">
                      <a href="/">
                        <%= image_tag("logo.gif", style: "border:1px white solid; width:18; height:18") %>
                      </a>
                    </td>
                  <td style="line-height:12pt; height:10px;">
                    <span class="pagetop">
                      <b class="hnname">
                        <a href="/"> HackerNews</a>
                      </b>
                      <%= link_to "new", contribucions_newPage_path %>
                      | <a href="front">past</a> 
                      | <a href="newcomments">comments</a> 
                      | <a href="ask">ask</a> |
                      <a href="show">show</a> |
                      <a href="jobs">jobs</a> | 
                      <%= link_to 'submit', new_contribucion_path %>           
                    </span>
                  </td>
                  <td style="text-align:right;padding-right:4px;">
                    <span class="pagetop">
                      <% if logged_in? %>
                        <a href="/users/<%= current_user().id %>"><%= current_user().email %></a>
                         
                        |  
                        <%= link_to 'Logout', destroy_user_session_path, method: "delete" %>
                      <% else %>
                        <%= link_to 'Login', user_session_path %>
                      <% end %>
                    </span>
                  </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <% @rank = 1%>
          <tr id="pagespace" title="" style="height:10px"></tr>
          <tr>
            <td>
              <table class="itemlist" cellspacing="0" cellpadding="0" border="0">
                <% @contribucions.each do |contribucion| %>
                  <tbody>
                    <tr class="athing" id="22681207">
                      <td class="title" valign="top" align="right">
                        <span class="rank"><%= @rank %>.</span>
                      </td>      
                    <td class="votelinks" valign="top">
                      <center>
                        <a id="up_22681207" <%= link_to '▲', upvote_contribucion_path(contribucion), method: :put %>
                        </a>
                      </center>
                    </td>
                      <td class="title">
                        <% if type_url(contribucion.url) %>
                          <a href="<%=contribucion.url%>"><%=contribucion.title%></a>
                          <span class="sitebit comhead"> (<a href="<%=contribucion.url%>"><span class="sitestr"><%=contribucion.url%></span></a>)</span>
                        <% else %>
                          <a href="/contribucions/<%=contribucion.id%>" class="storylink"><%=contribucion.title%></a>
                          
                        <%end%>
                      
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2"></td>
                      <td class="subtext">
                      <span class="score" id="score_22681207"><%=contribucion.points%> points</span>
                        by 
                        <a href="/users/<%=contribucion.user_id%>" class="hnuser">"hard" </a> 
                        <span class="age">
                           <%= time_ago_in_words(contribucion.created_at) %>
                        </span>
                        <% if current_user() != nil %>
                          <% if contribucion.user_id == current_user().id %>
                            <%= link_to 'Edit', edit_contribucion_path(contribucion) %>
                            |
                            <%= link_to 'Destroy', contribucion, method: :delete, data: {confirm: 'Are you sure?'} %>
                          <% end %>
                        <% end %>  
                        <span id="unv_22681207"></span> | <a href="hide?id=22681207&amp;goto=news">hide</a> | <a href="item?id=22681207">0&nbsp;comments</a>              
                      </td>
                    </tr>
                    <tr class="spacer" style="height:5px"></tr>
                  </tbody>
                  <% @rank = @rank + 1%>
                <%end%>
              
                <tr class="athing" id="22679138">
                      <tr class="morespace" style="height:10px"></tr>
                      <tr>
                        <td colspan="2"></td>
                        <td class="title"><a href="news?p=2" class="morelink" rel="next">More</a>
                        </td>
                </tr>
            </table>
          </td></tr>
          <tr><td><img src="s.gif" width="0" height="10"><table width="100%" cellspacing="0" cellpadding="1"><tbody><tr><td bgcolor="#ff6600"></td></tr></tbody></table>
          <br><center>Created by: Adrian Alvarez, Marcel Costa, Luis Belloso, Sergio Pascual, Xavier Espinos</center>
          <br><br><center>ASW FIB Project</center>
      </tbody>
      </table>
      </center>
      <script type="text/javascript" src="hn.js?WtiDADWyAh3OLz9I78m7"></script>
</html>