<%= render "menu/menu" %>
          <% @rank = 1%>
          <tr id="pagespace" title="" style="height:10px"></tr>
          <tr>
            <td>
              <table class="itemlist" cellspacing="0" cellpadding="0" border="0">
                <% @contribucions.each do |contribucion| %>
                  <tbody>
                    <tr class="athing" id="22681207">
                      <td class="title" valign="top" align="right">
                        <span class="rank"><%= @rank %>.</span>
                      </td>      
                    <td class="votelinks" valign="top">
                      <center>
                        <a id="up_22681207" <%= link_to '▲', upvote_contribucion_path(contribucion, :lloc => "main"), method: :put %>
                        </a>
                      </center>
                    </td>
                      <td class="title">
                        <% if type_url(contribucion.url) %>
                          <a href="<%=contribucion.url%>"><%=contribucion.title%></a>
                          <span class="sitebit comhead"> (<a href="<%=contribucion.url%>"><span class="sitestr"><%=contribucion.url%></span></a>)</span>
                        <% else %>
                          <a href="/contribucions/<%=contribucion.id%>" class="storylink"><%=contribucion.title%></a>
                          
                        <%end%>
                      
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2"></td>
                      <td class="subtext">
                      <span class="score" id="score_22681207"><%=contribucion.points%> points</span>
                        by 
                        <a href="/users/<%=contribucion.user_id%>" class="hnuser"><%=User.find(contribucion.user_id).email%></a> 
                        <span class="age">
                           <%= time_ago_in_words(contribucion.created_at) %>
                        </span>
                        <% if current_user() != nil %>
                          <% if contribucion.user_id == current_user().id %>
                            <%= link_to 'Edit', edit_contribucion_path(contribucion) %>
                            |
                            <%= link_to 'Destroy', contribucion, method: :delete, data: {confirm: 'Are you sure?'} %>
                          <% end %>
                        <% end %>  
                        <span id="unv_22681207"></span> | <a href="hide?id=22681207&amp;goto=news">hide</a> | <%= link_to 'comments',comentaris_new_path(:id => contribucion.id), method: :get %>
                      </td>
                    </tr>
                    <tr class="spacer" style="height:5px"></tr>
                  </tbody>
                  <% @rank = @rank + 1%>
                <%end%>
              
                <tr class="athing" id="22679138">
                      <tr class="morespace" style="height:10px"></tr>
                      <tr>
                        <td colspan="2"></td>
                        <td class="title"><a href="news?p=2" class="morelink" rel="next">More</a>
                        </td>
                </tr>
            </table>
          </td></tr>
          <tr><td><img src="s.gif" width="0" height="10"><table width="100%" cellspacing="0" cellpadding="1"><tbody><tr><td bgcolor="#ff6600"></td></tr></tbody></table>
          <br><center>Created by: Adrian Alvarez, Marcel Costa, Luis Belloso, Sergio Pascual, Xavier Espinos</center>
          <br><br><center>ASW FIB Project</center>
      </tbody>
      </table>
      </center>
      <script type="text/javascript" src="hn.js?WtiDADWyAh3OLz9I78m7"></script>
</html>