<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Created:</strong>
  <%= time_ago_in_words(@user.created_at) %>
</p>

<p>
  <strong>Description:</strong>
</p>

<p>
  <%= text_area(:comment, :text, size: "70x5") %>
</p>

<p>
  <strong>Contribucions:</strong>
  <%= "Falta acabar"  %>
</p>

<p>
  <strong>Comentaris:</strong>
  <%= "Falta acabar"  %>
</p>

<% if current_user().id == @user.id %>
   <a href="/users/<%=@user.id%>/edit" class="hnuser">Edit Profile </a> 
   |
   <%= link_to 'Back', contribucions_path %>
<%end%>