<%= render "menu/menu" %>
          <tr>
            <td>
              <img src="s.gif" width="0" height="10">
              <table width="100%" cellspacing="0" cellpadding="1">
                <tbody>
                  
                    <p id="notice"><%= notice %></p>
  
                    <p>
                      <strong>Email:</strong>
                      <%= @user.email %>
                    </p>
                    
                    <p>
                      <strong>Created:</strong>
                      <%= time_ago_in_words(@user.created_at) %>
                    </p>
                    
                    <% if current_user().id == @user.id %>
                      <p>
                        <strong>Apitoken:</strong>
                        <%=@user.apitoken %>
                      </p>
                    <%end%>
                    
                    <p>
                      <strong>Description:</strong>
                      <%= @user.description %>
                    </p>
                    
                    <p>
                      <strong>Contributions:</strong>
                      <%= link_to 'submissions',contribucions_submitted_path(:id => @user.id),method: "get"  %>
                    </p>
                    
                    <p>
                      <strong>Coments:</strong>
                      <%= link_to 'comments',comentaris_threads_path(:user_id => @user.id),method: "get"  %>
                    </p>
                    
                    <p>
                      <strong>Upvoted contributions:</strong>
                      <%= link_to 'upvoted contributions',contribucions_liked_path(:id => @user.id),method: "get"  %>
                    </p>
                    
                    <p>
                      <strong>Upvoted coments:</strong>
                      <%= link_to 'upvoted comments',comentaris_liked_path(:user_id => @user.id),method: "get"  %>
                    </p>
                    
                    <% if current_user().id == @user.id %>
                       <a href="/users/<%=@user.id%>/edit" class="hnuser">Edit Profile </a> 
                       |
                       <%= link_to 'Back', contribucions_path %>
                    <%end%>
                  
                  
                  <tr>
                    <td bgcolor="#ff6600">
            
                    </td>
                  </tr>
                </tbody>
              </table>
            <br><center>Created by: Adrian Alvarez, Marcel Costa, Luis Belloso, Sergio Pascual, Xavier Espinos</center>
            <br><br><center>ASW FIB Project</center>
          </tbody>
        </table>
        </center>
      <script type="text/javascript" src="hn.js?WtiDADWyAh3OLz9I78m7"></script>
</html>
  
