
<li style="list-style:none;">
   <a id="up_22681207" <%= link_to '▲', upvote_comentari_path(c, :lloc => "main"), method: :put %>
   <a style="color: #828282;" href="/users/<%=c.user_id%>"> <%= c.user.email %> </a>
   <span class="age">
     <a><%= time_ago_in_words(c.created_at) %></a>
   </span> 
   <span>
       <% if type_url(c.contribucion.url) %>
            <a href="<%=c.contribucion.url%>"><%=c.contribucion.title%></a>
        <span class="sitebit comhead"> (<a href="<%=c.contribucion.url%>"><span class="sitestr">on: <%=c.contribucion.url%></span></a>)</span>
      <% else %>
        <a href="/contribucions/<%=c.contribucion.id%>" class="storylink">on: <%=c.contribucion.title%></a>

      <%end%>
   </span>
  Comentarios -> <%= c.comentaris.size %>
  <br/>
  <span><%=c.text%></span>
  <br/>
  <a style="color: #828282;" href="/contribucions/<%=c.contribucion_id%>/comentaris/<%=c.id%>">reply</a>
</li>
 